<div id="main"></div>
<script>
  var HOST = location.origin.replace(/^http/, 'ws')
  var ws = new WebSocket(HOST);
  ws.onmessage = function (event) {
    console.log(event.data)
    document.getElementById('main').innerHTML = event.data;
  }
  ws.onopen = function () {
    ws.send({type: "cfyc"});
  }
</script>
