<% include ./header %>
  <div class="content">
    <div class="main">
      <div class="content-item">
        <div class="title">About</div>
        <div>Gorgon is a Discord bot as well as bot framework base on Aister's NobuBot.</div>
      </div>
      <div class="content-item">
        <div class="title">Engines</div>
        <div id="engine">
          <a href="https://github.com/hydrabolt/discord.js">Discord.js version
            <%= djs %>
          </a>
        </div>
      </div>
      <div class="content-item">
        <div class="title">Hosting</div>
        <div>Gorgon is hosted on Heroku, it's cheap...</div>
      </div>
      <div class="content-item">
        <div class="title">Main Features</div>
        <div>
          <ul>
            <li>Fate Grand Order related commands, including Servant search, Item drop list and Profile</li>
            <li>Image Generation</li>
            <li>Pun and Straw commands</li>
            <li>Valkyrie Crusade related commands, including Card search and Profile</li>
            <li>And many more...</li>
          </ul>
        </div>
      </div>
      <!-- <div class="content-item">
        <div class="title">Source Code</div>
        <div>
          <a href="https://github.com/aister/nobuBot">https://github.com/aister/nobuBot</a>
        </div>
      </div> -->
    </div>
    <div class="sidebar">
      <% include ./sidebar %>
    </div>
  </div>
  <% include ./footer %>
    </body>

    </html>